/* This is the Begining of the navigation */
nav {
  margin-top: -170px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 830px;
  width:700px;
  height:15px;
  padding: 50px 0;
}

nav a {
  display: inline-block;
}
div.Navig a {
padding:25px;
color: black;
font-size: 17.5px;
font-family: Arial;
text-decoration: none;

}
div.Navig a:hover {
  color:blue;
}
/* This is the end of the navigation */

/* This is the Begining of the mission Statement */
div.Section_1-Article_1 {
  height: 630px;
  width:  830px;
  background-color: #f0f0ff;
  margin-top: -30px;
  margin-left: -10px;
}
/* This is the motto design */
div.Mission-Statement {
  height: 100px;
  width: 600px;
  color: black;
  font-size: 65px;
  font-weight: bold;
  transform: translate(100px, 200px);
  /* This is the end of the motto design */

}
/* This is the Begining of "About-us"*/
div.About-us {

}
